
<div class="jumbotron">
    <h1 class="display-4">Futsal App</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. </p>

    <hr class="my-4">
    <p class="lead"><a class="btn btn-info">Learn more..</a></p>
</div>